.footer-soc--margin {
    @include desktop {
        margin-left: 70px;
    }
    
    @media screen and (max-width:1199px) {
        text-align: center;
    }
}

.footer-soc__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: var(--main-sections-color);
    margin-bottom: 20px;
}

.footer-soc__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-soc__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: var(--main-sections-color);
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--timing-function) var(--duration), color var(--timing-function) var(--duration);
    &:hover,
        &:focus {
            background-color: var(--accent-color);
        }
}

.footer-soc__icon {
    fill: currentColor;
}